.feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-column-gap: 0;
    grid-row-gap: 0;
}
.card {
    padding: 15px 12px;
    cursor: pointer;
    border-radius: 20px;
}
.card:hover {
    background-color: rgb(233, 239, 240);
}
.card img {
    width: 100%;
    border-radius: 15px;
    /* max-height: 265px; */
}
.card h2 {
    padding-top: 8px;
    font-size: 15px;
    color: #000;
    margin: 5px 0;
    font-weight: 600;
}
.card h3 {
    font-size: 14px;
    font-weight: 550;
    color: #6a6a6a;
    margin: 6px 0;
}
.card p {
    font-size: 14px;
    color: #6a6a6a;
}
@media(max-width: 900px) {
    .card h3, .card p {
        display: inline;
    }
    .card h3 {
        font-weight: normal;
    }
}