.play-video {
    padding: 1.2%;
    padding-right: 0;
    width: 70%;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.play-video video {
    width: 100%;
    border-radius: 15px;
}
.play-video h3 {
    padding-left: 10px;
    font-size: 20px;
}
.channel-stats {
    width: 100%;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
}
.channel-stats img {
    width: 25px;
}
.stats-left .channel-logo {
    margin-right: 10px;
    width: 40px;
}
.stats-left h2 {
    font-weight: bold;
    font-size: 18px;
    margin-right: 25px;
    cursor: pointer;
}
.stats-left p {
    font-size: 13px;
    font-weight: bold;
    color: rgb(54, 54, 54);
}
.stats-left button {
    border: none;
    outline: none;
    background-color: black;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    padding: 12px 18px;
    font-weight: bold;
    margin-right: 10px;
}
/* .stats-left .notification-icon {
    cursor: pointer;
    height: 40px;
    padding: 8px 12px;
    border-radius: 25px;
    background-color: #f0f0f0;
} */
.stats-right {
    gap: 10px;
    padding-right: 10px
}
.stats-right div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #ededed;
    padding: 8px 15px;
    font-size: 15px;
}
.stats-right div:hover {
    background-color: #e3e3e3;
}
.stats-right .like {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -10px;
    cursor: default;
}
.stats-right .dislike {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: default;
    position: relative;
}
.stats-right .dislike::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20%;
    height: 60%;
    border-left: 1px solid rgb(149, 149, 149);
}
.stats-right .more-icon {
    border-radius: 30px;
    background-color: #ededed;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.stats-right .more-icon:hover {
    background-color: #e3e3e3;
}