nav {
	height: 60px;
	padding: 0 1.5%;
	justify-content: space-between;
	background-color: #fff;
	position: sticky;
	top: 0;
	z-index: 10;
}
.nav-left .menu-icon {
	width: 45px;
	padding: 10px;
	border-radius: 50%;
}
.nav-left .logo-icon {
	width: 120px;
}
.nav-middle .search-box {
	border: 1px solid #ccc;
	padding: 12px 20px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.nav-middle .search-box input {
	width: 520px;
	border: 0;
	outline: 0;
	background: transparent;
	font-size: 16px;
}
.nav-middle .search-icon {
	background-color: #ededed;
	padding: 9px 22px;
	border: 1px solid #ccc;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-right: 15px;
	width: 69px;
	border-left: 0px;
}
.nav-left .menu-icon:hover, .nav-middle .search-icon:hover, .nav-middle .voice-search-icon:hover, .nav-right button:hover, .nav-right > img:hover {
	background-color: #e3e3e3;
}
.nav-middle .voice-search-icon {
	background-color: #ededed;
	border-radius: 50%;
	padding: 12px;
}
.nav-right button {
	background-color: #ededed;
	outline: none;
	border: none;
	border-radius: 25px;
	padding: 20px;
	margin-right: 15px;
	height: 30px;
	justify-content: center;
	cursor: pointer;
}
.nav-right > img {
	width: 45px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 50%;
}
.nav-right .user-icon {
	padding: 0;
	width: 28px;
	border-radius: 50%;
}
.nav-right .user-icon:hover {
	background-color: transparent;
}